<mat-toolbar color="primary">
    <div fxFlex fxLayout fxLayoutAlign="start" fxHide.xs>
        <div fxLayout fxLayoutGap="15px" class="navigation-items">

            <button mat-button routerLink="Staffs" routerLinkActive="active">
                Staffs
            </button>

            <button mat-button routerLink="Patients" routerLinkActive="active">
                Patients
            </button>

            <button mat-button routerLink="Billings" routerLinkActive="active">
                Billing
            </button>

            <button mat-button routerLink="Reports" routerLinkActive="active">
                Reports
            </button>

            <button mat-button routerLink="Profile" routerLinkActive="active">
                Profile
            </button>

        </div>
    </div>
</mat-toolbar>