<main class="container">
    <section class="wrapper">
        <div class="media">
            <div class="image"></div>
            <div class="text">Staff matters. 
              Create and manage users.
            </div>
    </div>
    <div class="media">
        <div class="image"></div>
            <div class="text">Patients. 
              Manages patients records.
            </div>
    </div>
    <div class="media">
        <div class="image"></div>
            <div class="text">Billing. 
              View invoices and payments.
            </div>
    </div>
    <div class="media">
        <div class="image"></div>
            <div class="text">Reports. 
              Generate and view various reports.
            </div>
    </div>
    <div class="media">
        <div class="image"></div>
            <div class="text">Profile. 
              Manage your profile.
            </div>
    </div>
    </section>
</main>
